<div class="col-md-12 col-sm-12 col-xs-12">
	$CMS_IF(!st_video.isEmpty())$
		<iframe width="940" height="554" src="$CMS_VALUE(st_video.replaceAll("https:", "").replaceAll("watch\?v\=", "embed/"))$" frameborder="0" allowfullscreen></iframe>
	$CMS_END_IF$
</div>