$CMS_IF(#global.is("WEBEDIT"))$
		$CMS_IF(set_isResponsive &&!ps_showResponsiveIcons.equals("never"))$
			$CMS_SET(hiddenPhone,node.formData.st_hiddenPhone)$
			$CMS_SET(hiddenTablet,node.formData.st_hiddenTablet)$
			$CMS_SET(hiddenDesktop,node.formData.st_hiddenDesktop)$
			$CMS_SET(newRowDesktop,node.formData.st_newRowDesktop)$
			$CMS_SET(newRowTablet,node.formData.st_newRowTablet)$
		$CMS_END_IF$
		$CMS_SET(set_icons)$
			$CMS_IF(responsive_iconpanel && (ps_showResponsiveIcons.equals(set_icon_state) || ps_showResponsiveIcons.equals("always")))$
				<div class="icon-panel-responsive">
				$CMS_IF(hiddenPhone)$<i class="icon-mobile-phone"></i>:<i class="icon-eye-close"></i><br>$CMS_END_IF$
				$CMS_IF(hiddenTablet || newRowTablet)$<i class="icon-tablet"></i>:$CMS_IF(hiddenTablet)$<i class="icon-eye-close"></i>$CMS_END_IF$$CMS_IF(newRowTablet)$<i class="icon-level-down"></i>$CMS_END_IF$<br>$CMS_END_IF$
				$CMS_IF(hiddenDesktop || newRowDesktop)$<i class="icon-desktop"></i>:$CMS_IF(hiddenDesktop)$<i class="icon-eye-close"></i>$CMS_END_IF$$CMS_IF(newRowDesktop)$<i class="icon-level-down"></i>$CMS_END_IF$<br>$CMS_END_IF$
				</div>
			$CMS_END_IF$
		$CMS_END_SET$
		
		<div class="icon-panel">
			$CMS_SET(set_icon_state,"hover")$
			$CMS_VALUE(set_icons)$
		</div>
		$CMS_IF(ps_showResponsiveIcons.equals("always"))$
			<div class="icon-panel-perma">
			$CMS_SET(set_icon_state,"always")$
				$CMS_VALUE(set_icons)$
			</div>
		$CMS_END_IF$
$CMS_END_IF$