<div class="slide"$CMS_VALUE(editorId())$>
	<article>
		$CMS_RENDER(template:"responsive_iconpanel",responsive_iconpanel:set_isResponsive,node:#global.page,slider:true)$
		<figure$CMS_VALUE(editorId(editorName:"st_picture", resolution:"1280x370"))$>
			$CMS_RENDER(template:"picture", image:st_picture, phone:"570x165", tablet:"1280x370")$
		</figure>
		<section>
			<div$CMS_IF(st_slideBox == true)$ class="$CMS_VALUE(if(st_slideBoxIsLeft == true, "left-box", "right-box") + if(st_slideBoxIsInverse == true, " inverse"))$"$CMS_END_IF$$CMS_VALUE(editorId(editorName:"st_text"))$>
				$CMS_VALUE(st_text, default:"")$
			
				$CMS_IF(!st_reference.isEmpty)$
					$CMS_VALUE(st_reference, default:"")$
				$CMS_END_IF$
			</div>
		</section>
	</article>
</div>