$--

	@image:
	@phone:
	@tablet:
	@desktop:
	@cls:
	@alt:
	@we:
	
	TODO: replace the fix breakpoints by ps_breakpoints

--$$CMS_TRIM(level:3)$
$CMS_IF(isSet(image) && !image.isEmpty)$
	$CMS_SET(set_sources, [])$
	$CMS_SET(set_resolution,"")$
	$CMS_IF(isSet(desktop) && desktop != null)$
		$CMS_SET(set_desktopSrcset, [])$
		$CMS_SET(void, set_desktopSrcset.add(ref(image, res:desktop).url))$
		$CMS_SET(void, set_desktopSrcset.add(ref(image, res:desktop + "_2x").url + " 2x"))$
		$CMS_SET(void, set_sources.add("<source srcset='" + set_desktopSrcset.toString(", ") + "' media='(min-width: 960px)' />"))$
		$CMS_SET(set_resolution,desktop)$
	$CMS_END_IF$
	$CMS_IF(isSet(tablet) && tablet != null)$
		$CMS_SET(set_tabletSrcset, [])$
		$CMS_SET(void, set_tabletSrcset.add(ref(image, res:tablet).url))$
		$CMS_SET(void, set_tabletSrcset.add(ref(image, res:tablet + "_2x").url + " 2x"))$
		$CMS_SET(void, set_sources.add("<source srcset='" + set_tabletSrcset.toString(", ") + "' media='(min-width: 720px)' />"))$
		
		$CMS_SET(set_resolution, if(set_resolution.equals(""), tablet, set_resolution))$
	$CMS_END_IF$
	$CMS_IF(isSet(phone) && phone != null)$
		$CMS_SET(set_phoneSrcset, [])$
		$CMS_SET(void, set_phoneSrcset.add(ref(image, res:phone).url))$
		$CMS_SET(void, set_phoneSrcset.add(ref(image, res:phone + "_2x").url + " 2x"))$
		$CMS_SET(void, set_sources.add("<source srcset='" + set_phoneSrcset.toString(", ") + "'/>"))$
		$CMS_SET(set_resolution, if(set_resolution.equals(""), phone, set_resolution))$
	$CMS_END_IF$
	$CMS_IF(isSet(path))$
	$-- TODO: Do we need this? --$
	$--$CMS_VALUE(set_srcset.toString(","))$--$
	$CMS_ELSE$
	<div class="imageFrame" $CMS_VALUE(editorId(editorName:we,resolution:set_resolution))$>
		<picture$CMS_IF(isSet(we))$$CMS_VALUE(editorId(editorName:we))$$CMS_END_IF$>
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			$CMS_VALUE(set_sources.toString("\n"))$
			<!--[if IE 9]></video><![endif]-->
			<img $CMS_IF(isSet(cls))$ class="$CMS_VALUE(cls)$"$CMS_END_IF$$CMS_IF(isSet(alt))$ alt="$CMS_VALUE(alt)$"$CMS_END_IF$$CMS_IF(isSet(we))$$CMS_END_IF$ />
		</picture>
	</div>
	$CMS_END_IF$
$CMS_END_IF$
$CMS_END_TRIM$