$-- Raphael --$
$-- begin news_teaser (form. uxbridge)--$
$CMS_SET(set_pt_jsAfterBody,"")$$CMS_SET(set_pt_insertIntoHead,"")$
$-- end news_teaser --$
$CMS_SET(set_body_content_top)$$CMS_RENDER(template:"responsive_body", body:"content_top")$$CMS_END_SET$$CMS_SET(set_body_content_top,set_body_content_top.toString())$
$CMS_SET(set_body_content_bottom)$$CMS_RENDER(template:"responsive_body", body:"content_bottom")$$CMS_END_SET$$CMS_SET(set_body_content_bottom,set_body_content_bottom.toString())$

$CMS_RENDER(template:"page_head")$

$CMS_IF(#global.preview)$
<div$CMS_VALUE(editorId(reloadPreview:true))$ id="we_page_head">
$CMS_RENDER(template:"responsive_iconpanel",responsive_iconpanel:false,node:#global.page)$
$CMS_END_IF$
	$CMS_RENDER(template:"header")$
	$CMS_SWITCH(pt_headerType)$
		$CMS_CASE("stage")$
			$CMS_IF(pt_slider.size > 0)$
				<div id="stage" class="default$CMS_IF(pt_hasKenburns != null)$-zoom$CMS_END_IF$" data-slide="$CMS_VALUE(pt_sliderFirstSlide)$" data-autoplay="$CMS_VALUE(pt_sliderAutoplay)$s" data-transition-duration="$CMS_VALUE(pt_sliderDuration)$" data-transition-timing-function="ease">
					<div class="view">
						<div class="inner">
							$CMS_VALUE(pt_slider)$
						</div>
						<ul class="indicator"></ul>
						<button type="button" data-control="prev">
							<i class="icon-chevron-left"></i>
						</button>
						<button type="button" data-control="next">
							<i class="icon-chevron-right"></i>
						</button>
					</div>
				</div>
			$CMS_END_IF$
		$CMS_CASE("special")$
			<div id="stage" class="special">
				<div class="view">
					<div class="inner">
						<div class="slide">
							<article>
								$CMS_IF(!pt_specialPicture.empty)$
								<figure$CMS_VALUE(editorId(editorName:"pt_specialPicture"))$>
									$CMS_RENDER(template:"picture", image:pt_specialPicture, phone:"570x200", tablet:"1280x450")$
								</figure>
								$CMS_END_IF$
								<section>
									<div$CMS_VALUE(editorId(editorName:"pt_specialHeadline"))$>
										$CMS_VALUE(pt_specialHeadline)$
										$CMS_IF(!pt_specialLink.isEmpty)$
											$CMS_VALUE(pt_specialLink)$
										$CMS_END_IF$
									</div>
								</section>
							</article>
						</div>
					</div>
				</div>
			</div>
	$CMS_END_SWITCH$
		
	$CMS_IF(!pt_bandText.isEmpty)$
		<div id="stage-band"$CMS_IF(ps_invertHeader == true)$ class="invers"$CMS_END_IF$>
			<div class="container"$CMS_VALUE(editorId(editorName:"pt_bandText"))$>
				$CMS_VALUE(pt_bandText)$
				$CMS_IF(!pt_bandButton.isEmpty)$
					$CMS_VALUE(pt_bandButton, default:"")$
				$CMS_END_IF$
			</div>
		</div>
	$CMS_END_IF$

	$CMS_IF(pt_headerType == "special" && pt_specialList.size > 0)$
		<article class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="list stage">
						<h3 class="two headlines"$CMS_VALUE(editorId(editorName:"pt_specialListHeadline"))$>$CMS_VALUE(pt_specialListHeadline, default:"")$</h3>
						<ul class="two lines"> 
							$CMS_VALUE(pt_specialList)$
						</ul>
					</div>
				</div>
			</div>
		</article>
	$CMS_END_IF$
$CMS_IF(#global.preview)$
</div>
$CMS_END_IF$
	$-- BODY content_top --$
	$CMS_IF(#global.preview)$
		<div class="container" id="we_content_top" style="padding: 25px 0 0; margin-top: 2px;">
	$CMS_END_IF$
		$CMS_VALUE(set_body_content_top)$
	$CMS_IF(#global.preview)$
		</div>
	$CMS_END_IF$

	$-- BODY content_bottom --$
	$CMS_IF(!#global.page.body("content_bottom").getChildren().toList().isEmpty)$
		<div class="shadow-top">
			$CMS_VALUE(set_body_content_bottom)$
		</div>
	$CMS_END_IF$

$CMS_RENDER(template:"page_foot")$