<CMS_HEADER>
</CMS_HEADER>

$-- variables --$
$CMS_SET(set_countPages, 20)$
$CMS_SET(set_currentPage, 9)$


<script type="text/javascript">
	function parseURLParams() {
		    
		var url			= window.location.href,
			queryStart	= url.indexOf("?") + 1,
	        queryEnd	= url.indexOf("#") + 1 || url.length + 1,
	        query		= url.slice(queryStart, queryEnd - 1),
	        pairs		= query.replace(/\+/g, " ").split("&"),
	        parms		= {}, i, n, v, nv;
		
	    if (query === url || query === "") {
	        return;
	    }
	
	    for (i = 0; i < pairs.length; i++) {
	        nv = pairs[i].split("=");
	        n = decodeURIComponent(nv[0]);
	        v = decodeURIComponent(nv[1]);
	
	        if (!parms.hasOwnProperty(n)) {
	            parms[n] = [];
	        }
	
	        parms[n].push(nv.length === 2 ? v : null);
	    }
	    return parms;
	}
	
	
</script>

$CMS_IF(!st_searchResults.isEmpty)$
	<div class="container">
		<h1>$CMS_VALUE(dict.get("search.text.headline"))$</h1>
				
		$-- searchresults --$
		<div class="row">
		
			$-- pagination top --$
			<nav class="pagination top">
				<p>
					$CMS_VALUE(dict.get("search.text.searchquery_part_1"))$"$--
					 --$<script type="text/javascript">
					 		document.write(parseURLParams()["query"]);
					 	</script>$--
				 --$"$CMS_VALUE(dict.get("search.text.searchquery_part_2"))$
					$CMS_VALUE(st_searchResults.length)$
					$CMS_VALUE(dict.get("search.text.searchquery_part_3"))$
				</p>
				<br/><br/>
				<ul>
					<li><a href="#"><i class="icon-angle-left"> </i></a></li>
					<li><a href="#">1</a></li>
					<li><span>...</span></li>
						
					$-- pagination --$
					$CMS_FOR(for_page, [(set_currentPage-4)..(set_currentPage+4)])$			
						$CMS_IF(for_page == set_currentPage)$
							<li><span class="active">$CMS_VALUE(for_page)$</span></li>
						$CMS_ELSE$
							<li><a href="#">$CMS_VALUE(for_page)$</a></li>
						$CMS_END_IF$
					$CMS_END_FOR$
					
					$-- last page --$
					<li><span>...</span></li>
					<li><a href="#">21</a></li>
					<li><a href="#"><i class="icon-angle-right"> </i></a></li>
				</ul>
			</nav>
			
			$-- searchresults --$
			$CMS_FOR(for_link, st_searchResults)$
				$CMS_VALUE(for_link)$
			$CMS_END_FOR$
			
			
			$-- pagination bottom --$
			<nav class="pagination bottom">
				<ul>
					<li><a href="#"><i class="icon-angle-left"> </i></a></li>
					<li><a href="#">1</a></li>
					<li><span>...</span></li>
						
					$-- pagination --$
					$CMS_FOR(for_page, [(set_currentPage-4)..(set_currentPage+4)])$			
						$CMS_IF(for_page == set_currentPage)$
							<li><span class="active">$CMS_VALUE(for_page)$</span></li>
						$CMS_ELSE$
							<li><a href="#">$CMS_VALUE(for_page)$</a></li>
						$CMS_END_IF$
					$CMS_END_FOR$
					
					$-- last page --$
					<li><span>...</span></li>
					<li><a href="#">21</a></li>
					<li><a href="#"><i class="icon-angle-right"> </i></a></li>
				</ul>
			</nav>
		</div>
	</div>
$CMS_ELSE$
	$-- no searchresults --$
	<div style="margin-top:25px;">
		<p>$CMS_VALUE(dict.get("search.text.searchresult_text"))$</p>
	</div>
$CMS_END_IF$