<div$CMS_VALUE(editorId())$>

$CMS_SET(set_uuidScript)$$CMS_RENDER(script:"uuid")$$CMS_END_SET$

	$CMS_IF(!st_headline.empty)$<h4$CMS_VALUE(editorId(editorName:"st_headline"))$>$CMS_VALUE(st_headline)$</h4>$CMS_END_IF$
	<div>
		<section class="col-md-12 col-sm-12 col-xs-12">
			$CMS_IF(!st_picture.empty)$
				$CMS_SET(set_pictureAlignmentClass)$pull-$CMS_VALUE(st_pictureAlignment)$$CMS_END_SET$
				$CMS_RENDER(template:"picture",we:"st_picture",image:st_picture,cls:set_pictureAlignmentClass,phone:"110x73",tablet:"220x146")$
			$CMS_END_IF$
			<div$CMS_VALUE(editorId(editorName:"st_text"))$>
				$CMS_VALUE(st_text)$
			</div>
		</section>
	</div>

</div>