<a href="$CMS_RENDER(template:"teaser_link_url", reference:lt_reference)$" $CMS_IF(lt_style != "none")$class="btn btn-$CMS_VALUE(lt_style)$"$CMS_END_IF$><i class="icon-angle-right"></i>$CMS_VALUE(lt_text)$</a>