<CMS_HEADER>

	<CMS_FUNCTION name="Navigation" resultname="fr_mainnav">
		<CMS_PARAM name="expansionVisibility" value="all"/>
		<CMS_PARAM name="suppressEmptyFolders" value="1" />
		<CMS_PARAM name="wholePathSelected" value="1"/>
		
		<CMS_ARRAY_PARAM name="innerBeginHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<ul>
				$CMS_IF(#nav.level == 0)$
					<li class="visible-xs"><a href="$CMS_REF(#nav.ref)$">$CMS_VALUE(#nav.label)$</a></li>
				$CMS_END_IF$
			]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="beginHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<li$CMS_IF(#nav.level==0 && #nav.hasSubFolders)$ class="has-sub"$CMS_END_IF$>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="unselectedHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<a href="$CMS_REF(#nav.ref)$">$CMS_VALUE(#nav.label)$</a>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="selectedHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<a href="$CMS_REF(#nav.ref)$" class="active">$CMS_VALUE(#nav.label)$</a>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="endHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[</li>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="innerEndHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[</ul>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
	</CMS_FUNCTION>
</CMS_HEADER>

		<footer id="footer">
			$CMS_RENDER(template:"footer_functions")$
			<nav>
				<div>
					<ul>
						$CMS_FOR(for_link, #global.gca("gca_headerlinks").formData.st_links)$
							<li class="visible-xs">
								<a href="$CMS_REF(for_link.lt_reference)$">$CMS_VALUE(for_link.lt_text)$</a>
							</li>
						$CMS_END_FOR$
						$CMS_VALUE(fr_mainnav)$
					</ul>
				</div>
			</nav>

			$-- TODO: Country pages --$
			<div class="dropout visible-xs" tabindex="-1">
				<span>mithrasenergy global <i class="icon-angle-down"></i></span>
				<ul>
					<li><a href=""><img src="$CMS_REF(media:"flag_us")$"> mithrasenergy US</a></li>
					<li><a href=""><img src="$CMS_REF(media:"flag_uk")$"> mithrasenergy UK</a></li>
				</ul>
			</div>

			<div class="copyright">
				<style>
					@media (max-width: 719px) {
						div.container {
							line-height: 2.0;
						}
					}
				</style>
				<div class="container">
					<div class="pull-left">
						$CMS_VALUE(#global.gca("footertext"))$
						
					</div>
					$CMS_FOR(for_link, #global.gca("gca_footerlinks").formData.st_links)$
							<a href="$CMS_REF(for_link.lt_reference)$" class="pull-right">$CMS_VALUE(for_link.lt_text)$</a>
						$CMS_END_FOR$
				</div>
			</div>

		</footer>
		
		$CMS_FOR(url, loadJS)$
			<script src="$CMS_REF(media:url)$"></script>
		$CMS_END_FOR$
		
		$CMS_FOR(url, loadExternalJS)$
			<script src="$CMS_VALUE(url)$" test></script>
		$CMS_END_FOR$

    	$-- begin uxbridge --$
    	<!-- jsAfterBody -->
		$CMS_VALUE(set_pt_jsAfterBody)$
		$-- end uxbridge --$
		
		$CMS_IF(#global.is("WEBEDIT"))$
		<script>
			(function(){
				top.WE_API.Preview.addElementReloadListener(function(element){
					picturefill({ reevaluate: true });
				});
			}());
		</script>
		$CMS_END_IF$
		
		TEST!
		$CMS_IF(isSet(product_id))$
			$CMS_RENDER(template:"woopra_tracking_products")$
		$CMS_END_IF$	
	</body>
</html>