<div class="modal" id="leaveCCModal" role="dialog" aria-labelledby="myModalLabel" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="modal_close">&times;</button>
        <h4 class="modal-title" id="myModalLabel">$CMS_VALUE(dict.get("languagedependentlabels.leavesiteheadline"))$</h4>
      </div>
      <div class="modal-body">
       $CMS_VALUE(dict.get("languagedependentlabels.leavesiteinfo"))$
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal_no">$CMS_VALUE(dict.get("global.no_lowercase"))$</button>
        <button type="button" class="btn btn-primary" id="modal_yes">$CMS_VALUE(dict.get("global.yes_lowercase"))$</button>
      </div>
    </div>
  </div>
</div>