<CMS_HEADER>
</CMS_HEADER>

$CMS_SET(product_id,-1)$

$CMS_IF(#global.preview)$
<div class="col-xs-12 col-sm-12" $CMS_VALUE(editorId())$>
	<div class="row">
$CMS_END_IF$

<h1$CMS_VALUE(editorId(editorName:"tt_name"))$>$CMS_VALUE(tt_name)$</h1>
<div class="gallery col-md-6 col-sm-12 col-xs-12">
	$CMS_IF(!tt_pictures.empty)$
	<figure>
		<a href="#modal" class="overlay">
	$CMS_FOR(for_picture, tt_pictures)$
		<span class="overlayFrame" id="$CMS_VALUE(for_picture.st_image.getUid)$_container" $CMS_IF(!#for.isFirst)$ style="display: none;"$CMS_END_IF$>
			$CMS_RENDER(template:"picture",image:for_picture.st_image,phone:"220x146",tablet:"700x467",desktop:"460x306")$
		</span>
	$CMS_END_FOR$
		</a>
	</figure>
	
	$CMS_FOR(for_picture, tt_pictures)$
		$CMS_IF(#for.isFirst)$
		<div id="modal" class="overlay-content">
			<span class="remove">
				<i class="icon-remove"></i>
			</span>
			<h3>$CMS_VALUE(tt_name)$</h3>
			<figure>
				$CMS_FOR(for_picture_inner, tt_pictures)$
					$CMS_RENDER(template:"picture",image:for_picture_inner.st_image,phone:"300x200",tablet:"700x467",desktop:"900x600")$
				$CMS_END_FOR$
				<button type="button" data-control="prev">
					<i class="icon-chevron-left"></i>
				</button>
				<button type="button" data-control="next">
					<i class="icon-chevron-right"></i>
				</button>
			</figure>
		</div>
		
		<ul>
		$CMS_END_IF$
		<li>
			<div class="previewFrame">
			<a$CMS_IF(#for.isFirst)$ class="active"$CMS_END_IF$ href="" data-figure-srcset="$CMS_VALUE(for_picture.st_image.getUid)$_container" $--data-figure-srcset="$CMS_RENDER(template:"picture",image:for_picture.st_image,phone:"220x146",tablet:"700x467",desktop:"460x306",path:true)$--$">
				$CMS_RENDER(template:"picture",image:for_picture.st_image,phone:"60x40")$
			</a>
			<div>
		</li>
		$CMS_IF(#for.isLast)$
		</ul>
		$CMS_END_IF$
	$CMS_END_FOR$
	$CMS_END_IF$
</div>
<div class="col-xs-12 col-sm-12 col-md-6">
	<article class="accordion tabs">
		<h4 class="active">$CMS_VALUE(dict.get("product.tab.description"))$</h4>
		<div$CMS_VALUE(editorId(editorName:"tt_description"))$>
			<section>
				$CMS_VALUE(tt_description)$
			</section>
		</div>
		<h4>$CMS_VALUE(dict.get("product.tab.technicalDetails"))$</h4>
		<div>
			<section>
				<table class="definitions autoTableLayout">
				$CMS_IF(!#row.product_PropertiesList.empty)$
					$CMS_FOR(_property, #row.product_PropertiesList.sort(x -> if(!x.product_Properties_Type.order_index.isNull, x.product_Properties_Type.order_index, "")))$
						<tr>
							<th>
							$CMS_IF(!_property.product_Properties_Type.name.empty)$
								$CMS_VALUE(_property.product_Properties_Type.name)$
							$CMS_END_IF$
							</th>
							
							<td$CMS_VALUE(editorId(entity:_property,view:"productproperties",editorName:"tt_value"))$>
							$CMS_IF(!_property.value.empty)$
								$CMS_VALUE(_property.value)$
							$CMS_END_IF$
							
							$CMS_IF(!_property.product_Properties_Type.unit.empty)$
								$CMS_VALUE(_property.product_Properties_Type.unit)$
							$CMS_END_IF$
							</td>
						</tr>
					$CMS_END_FOR$
				$CMS_END_IF$
				</table>
			</section>
		</div>
	</article>
	<div>
		<button id="btn_product_like" class="btn btn-primary">Dieses Produkt gefällt mir!</button> 
		<button id="btn_product_more" class="btn btn-primary">Mehr erfahren...</button> 
	</div>
</div>

$CMS_IF(#global.preview)$
	</div>
</div>
$CMS_END_IF$