<div class="col-xs-12 col-sm-12 col-md-12">
	<article class="entry" data-target-url="$CMS_REF(st_link)$">
		<h3>
			$CMS_VALUE(st_link.getUid)$
			<span class="filetype">
				HTML,
				$CMS_VALUE((class("java.lang.Math").random * 100).intValue())$ kb
			</span>
		</h3>
		
		<figure>
			$CMS_IF(!st_picture.isEmpty)$
			<img srcset="$CMS_REF(st_picture, resolution: "220x146")$">
			$CMS_END_IF$
		</figure>

		<p>
			$CMS_IF(!st_text.isEmpty)$
				$CMS_VALUE(st_text)$
			$CMS_END_IF$
			<!--TODO <a href="news-detail.html" class="path">Mithras Energy / Unternehmen / News</a> -->
		</p>

		<a href="$CMS_REF(st_link)$" class="path">
			$CMS_SET(set_link, st_link.pageRef.storedUrl(#global.language, #global.project.templateSets[0], null))$
			$CMS_IF(set_link != null)$
				$CMS_VALUE(set_link.replaceAll("index.jsp", ""))$
			$CMS_END_IF$
			<!-- Mithras Energy - Corporate Site / Test/-->
		</a>
	</article>
</div>