<CMS_HEADER>
</CMS_HEADER>

<div class="gray four lines">
<article class="col-xs-12 col-sm-4 col-md-3"$CMS_VALUE(editorId(view:"products",template:"mithras.products"))$>
	<div class="teaser gray" data-target-url="$CMS_REF(tt_link)$">
		$CMS_IF(!#row.picture.empty)$
		<figure>
			$CMS_RENDER(template:"picture",image:#row.picture,phone:"300x200",tablet:"220x146")$
		</figure>
		$CMS_END_IF$
		<h4>$CMS_VALUE(#row.name)$</h4>
		$CMS_VALUE(#row.description)$
	</div>
</article>
</div>