$CMS_SET(set_location, st_location.dataset.entity)$

<div class="col-xs-12 col-sm-12 col-md-12"$CMS_VALUE(editorId())$>
	<div
		$CMS_IF(#global.preview)$style="position: relative"$CMS_END_IF$
		class="teaser image-right">

		<h3$CMS_VALUE(editorId(entity:set_location,view:"locations",editorName:"cs_name"))$>
			$CMS_VALUE(set_location.name.convert2)$
		</h3>

		$CMS_IF(!set_location.picture.isEmpty)$
			<figure$CMS_VALUE(editorId(entity:set_location,view:"locations",editorName:"cs_picture"))$>
				$CMS_RENDER(template:"picture",image:set_location.picture,phone:set_phoneCalculated,tablet:set_tabletCalculated,desktop:set_desktopCalculated)$
			</figure>
		$CMS_END_IF$
		
		$CMS_IF(!set_location.description.isEmpty)$
			<p$CMS_VALUE(editorId(entity:set_location,view:"locations",editorName:"cs_description"))$>
				$CMS_VALUE(set_location.description.convert2)$
			</p>
		$CMS_END_IF$
		
		$CMS_IF(!set_location.geolocation.isEmpty)$			
			<p>
				$CMS_VALUE(set_location.geolocation.address.convert2.replace(", ", "<br />"))$
			</p>
		$CMS_END_IF$
	</div>
</div>