<div class="functions">
	<div class="container">
		<a href="#top" class="pull-right"><i class="icon-angle-up"></i>$CMS_VALUE(dict.get("footer.function.top"))$</a>	
		
		$CMS_IF(!#global.node.content2Params.isEmpty&& #global.node.content2Params.tableTemplate.name.equals("Produkte") && #global.pageParams.data.size == 1)$
		<a href="$CMS_REF(#global.ref, templateSet:"pdf")$" class="pull-right hidden-xs"><i class="icon-download-alt"></i>$CMS_VALUE(dict.get("footer.function.pdf"))$</a>
		$CMS_END_IF$
		
		$CMS_IF(ps_hasPrint)$
		    $CMS_IF(#global.preview)$
		    	<a href="javascript:void(0);" class="pull-right hidden-xs"><i class="icon-print"></i>$CMS_VALUE(dict.get("footer.function.print"))$</a>
			$CMS_ELSE$
				<a href="javascript:window.print();" class="pull-right hidden-xs"><i class="icon-print"></i>$CMS_VALUE(dict.get("footer.function.print"))$</a>
			$CMS_END_IF$
		$CMS_END_IF$
		
		<p class="hidden-xs hidden-sm pull-left">$CMS_VALUE(dict.get("footer.functions.socialmedia"))$</p>
		$CMS_IF(!ps_twitter.isEmpty)$
			<a href="$CMS_VALUE(ps_twitter)$" target="_blank" class="pull-left"><i class="icon-twitter"></i></a>
		$CMS_END_IF$
		$CMS_IF(!ps_facebook.isEmpty)$
			<a href="$CMS_VALUE(ps_facebook)$" target="_blank" class="pull-left"><i class="icon-facebook"></i></a>
		$CMS_END_IF$
	</div>
</div>