
$CMS_SET(set_numericMap, {2:"two",3:"three",4:"four",5:"five",6:"six"})$
$CMS_SET(set_cls, ["teaser"])$
$CMS_IF(!st_orientation.empty)$$CMS_SET(void, set_cls.add("image-" + st_orientation))$$CMS_END_IF$
$CMS_IF(!st_fixLineNumber.empty)$$CMS_SET(void, set_cls.add(set_numericMap[st_fixLineNumber] + " lines"))$$CMS_END_IF$
$CMS_IF(!st_fixHeadLineNumber.empty)$$CMS_SET(void, set_cls.add(set_numericMap[st_fixHeadLineNumber] + "-headlines"))$$CMS_END_IF$
$CMS_IF(st_isGray == true)$$CMS_SET(void, set_cls.add("gray"))$$CMS_END_IF$

<div
	$CMS_IF(#global.preview)$style="position: relative" $CMS_END_IF$
	class="$CMS_VALUE(set_cls.toString(" "))$"
	$CMS_IF(!st_reference.isEmpty)$data-target-url="$CMS_RENDER(template:"teaser_link_url", reference:st_reference.lt_reference)$"$CMS_END_IF$>
	
	$CMS_IF(!st_image.empty)$
		<figure 
		$CMS_IF(set_colSm==12)$
			class="col-md-5 col-sm-5" style="padding-right:20px;"
		$CMS_END_IF$
		style="position:relative;">$CMS_RENDER(template:"picture",we:"st_image",image:st_image,phone:set_phoneCalculated,tablet:set_tabletCalculated,desktop:set_desktopCalculated)$</figure>
	$CMS_END_IF$
	
	$CMS_IF(#global.preview)$<div$CMS_VALUE(editorId(editorName:"st_text"))$>$CMS_END_IF$
		$CMS_IF(!st_text.isEmpty)$$CMS_VALUE(st_text)$$CMS_END_IF$
	$CMS_IF(#global.preview)$</div>$CMS_END_IF$
	
	$CMS_IF(!st_reference.isEmpty)$$CMS_VALUE(st_reference)$$CMS_END_IF$	
</div>