<CMS_HEADER>
</CMS_HEADER>
<article class="col-xs-12 col-sm-4 col-md-3"$CMS_VALUE(editorId(view:"galleries",template:"mithras.galleries"))$>
	<div class="teaser gray" data-target-url="$CMS_REF(ss_gallery_details,contentId:#row.fs_id)$">
		$CMS_IF(!#row.gallery_MediaList.empty)$
		<figure>
			$CMS_RENDER(template:"picture",image:#row.gallery_MediaList.first.reference,phone:"300x200",tablet:"220x146")$
		</figure>
		$CMS_END_IF$
		<h4>$CMS_VALUE(#row.name)$</h4>
		<a href="$CMS_REF(ss_gallery_details,contentId:#row.fs_id)$" class="btn btn-primary"><i class="icon-angle-right"></i>Details</a>
	</div>
</article>