<CMS_HEADER>

	<CMS_FUNCTION name="Navigation" resultname="fr_breadcrumb">
		<CMS_PARAM name="expansionVisibility" value="parentpath"/>
		<CMS_PARAM name="wholePathSelected" value="0"/>
		<CMS_ARRAY_PARAM name="unselectedHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<li><a href="$CMS_REF(#nav.ref)$"><i class="icon-angle-right"></i>$CMS_VALUE(#nav.label)$</a></li>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="selectedHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[$CMS_IF(#global.pageContext["title"] == null)$<li><i class="icon-angle-right"></i> $CMS_VALUE(#nav.label)$</li>$CMS_ELSE$<li><a href="$CMS_REF(#nav.ref)$"><i class="icon-angle-right"></i> $CMS_VALUE(#nav.label)$</a></li><li><i class="icon-angle-right"></i> $CMS_VALUE(#global.pageContext["title"])$</li>$CMS_END_IF$]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
	</CMS_FUNCTION>
		
</CMS_HEADER>
<div id="breadcrumb">
	<div class="container">
		<ol>
		<li><a href="$CMS_REF(ps_homepage)$">$CMS_VALUE(ref(ps_homepage).target.label)$</a></li>
		$CMS_VALUE(fr_breadcrumb)$
		</ol>
	</div>
</div>