<CMS_HEADER>
</CMS_HEADER>
$CMS_IF(#cs.isFirstContentRow)$

	$--
	<h4 class="toggle active">$CMS_VALUE(dict.get("news.filter.description"))$</h4>
	<div>
		<section>
			<form class="form-inline" id="filter">
				<input type="hidden" name="test" value="1">
				<span style="color: red">TODO</span>
			</form>
		</section>
	</div>
	--$

	<div id="news-list">
$CMS_END_IF$

	<article class="entry" data-target-url="$CMS_REF(ps_newsDetail,contentId:#row.fs_id)$"$CMS_VALUE(editorId(view:"news", template:"mithras.news_overview"))$>
		<h3><time datetime="$CMS_VALUE(#row.date.format("yyyy-MM-dd"))$">$CMS_VALUE(#row.date.format(ps_dateFormat))$</time>$CMS_VALUE(#row.headline)$</h3>
		$CMS_IF(!#row.picture.empty)$
		<figure>
			$CMS_RENDER(template:"picture",image:#row.picture,phone:"110x73",tablet:"220x146")$
		</figure>
		$CMS_END_IF$
		$CMS_IF(!#row.teaser.empty)$
			$CMS_VALUE(#row.teaser)$
		$CMS_END_IF$
		<a href="$CMS_REF(ps_newsDetail,contentId:#row.fs_id)$"><i class="icon-angle-right"></i>$CMS_VALUE(dict.get("news.filter.newslink"))$</a></p>
	</article>

$CMS_IF(#cs.isLastContentRow)$
	</div>

	$--<div class="flap"$CMS_VALUE(editorId(editorName:"st_flapDescription"))$>
		<button type="button" data-target="#news-list" data-api-url="$CMS_VALUE(ps_newsFragment,default:"")$" data-form="#filter">
			<i class="icon-chevron-down"></i>
		</button>
		<br>$CMS_VALUE(st_flapDescription, default:"")$
	</div>--$
$CMS_END_IF$