$CMS_IF(#global.language.abbreviation.equals("DE"))$
	$CMS_SET(setSegmentsLabel, "Segmente")$
$CMS_ELSE$
	$CMS_SET(setSegmentsLabel, "Segments")$
$CMS_END_IF$
	
<style type="text/css">
.fs-preview-parameter-components {
    background: #595959; /* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #4c4c4c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%,#4c4c4c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #595959 0%,#4c4c4c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #595959 0%,#4c4c4c 100%); /* W3C */
    height: 32px;
    overflow: visible;
    position: relative;
    width: 100%;
}

.fs-preview-parameter-components-container {
    background-image: url("parameter-background.png");
    background-position: left top;
    background-repeat: repeat;
    left: 0;
    position: absolute;
    right: 0;
    width: auto;
	left: 10px;
    top: 4px;
    min-width: 800px;    
}

.fs-button {
    border: 1px solid #686868;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    line-height: 1px;
    padding: 0;
    text-indent: 0;
    vertical-align: middle;
    width: auto;
    float: left;
}

.fs-button-show-text .fs-button-inner {
    min-width: 110px;
    text-align: left;
}
.fs-button .fs-button-inner {
    -moz-box-sizing: border-box;
    background: #656565; /* Old browsers */
	background: -moz-linear-gradient(top, #656565 0%, #323232 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#323232)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #656565 0%,#323232 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #656565 0%,#323232 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #656565 0%,#323232 100%); /* IE10+ */
	background: linear-gradient(to bottom, #656565 0%,#323232 100%); /* W3C */
    display: inline-block;
    overflow: hidden;
    padding: 1px;
    white-space: nowrap;
    width: 100%;
}

.fs-button-show-text .fs-button-text {
    display: inline-block;
}

.fs-button .fs-button-text {
    -moz-user-select: none;
    color: #DFDFDF;
    display: block;
    font-family: Arial,Sans-serif;
    font-size: 12px;
    line-height: 21px;
    padding: 0 25px 0 8px;
    vertical-align: middle;
    white-space: nowrap;
}

input {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.gwt-Label {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.gwt-TextBox[readonly] {
    color: #A2A2A2;
}

input[type="text"], input[type="password"] {
    -moz-box-sizing: border-box;
    border: 1px solid #838282;
    height: 21px;
    padding: 1px 2px;
    vertical-align: middle;
}

.persona5px {
	float: left;
	margin-top: 5px; 
	color: #FFFFFF;
}

.persona2px {
	float:left;
	margin-top: 2px;
}

</style>

<div class="fs-preview-parameter-components">
	<div class="fs-preview-parameter-components-container">
		<div class="fs-button fs-button-show-text" onclick="personaSelector()">
			<div class="fs-button-inner">
				<div class="fs-button-text">Persona</div>
			</div>
		</div>
		<div>
			<div>
				<div class="gwt-Label fs-gadget-label persona5px" style="margin-left: 20px; margin-right: 10px;">Name</div>
				<input type="text" class="gwt-TextBox gwt-TextBox-readonly persona2px" size="12" style="width: 120px;" readonly="">
			</div>
		</div>
		<div>
			<div>
				<div class="gwt-Label fs-gadget-label persona5px" style="margin-left: 20px; margin-right: 10px;">$CMS_VALUE(setSegmentsLabel)$</div>
				<input type="text" class="gwt-TextBox gwt-TextBox-readonly persona2px" size="32" style="width: 320px;" readonly="">
			</div>
		</div>
	</div>
</div>