<CMS_HEADER>
</CMS_HEADER>
<a href="$CMS_REF(st_download)$" target=="_blank" $CMS_VALUE(editorId(editorName:"st_headline"))$>$CMS_VALUE(st_headline)$ ($CMS_VALUE(ref(st_download).size.humanReadable("**","0.0 {U}"))$)</a>