<CMS_HEADER>

	<CMS_FUNCTION name="contentSelect" resultname="fr_st_thinlayermodule">
		<CMS_PARAM name="schema" value="mithras" /> 
		<QUERY entityType="Products" limit="6"> 
			<EQ attribute="categoriesList.fs_id" value="320"/>
			<ORDERCRITERIA attribute="name_%lang%"/>
		</QUERY>
	</CMS_FUNCTION>

	<CMS_FUNCTION name="Navigation" resultname="fr_mainnav">
		<CMS_PARAM name="expansionVisibility" value="all"/>
		<CMS_PARAM name="suppressEmptyFolders" value="1" />
		<CMS_PARAM name="wholePathSelected" value="1"/>
		
		<CMS_ARRAY_PARAM name="innerBeginHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<ul class="visible-xs">$CMS_IF(#nav.level == 0)$<li><a href="$CMS_REF(#nav.ref)$">$CMS_VALUE(#nav.label)$</a></li>$CMS_END_IF$]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="beginHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<li$CMS_IF(#nav.level==0 && #nav.hasSubFolders)$ class="has-sub"$CMS_END_IF$>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="unselectedHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<a href="$CMS_REF(#nav.ref)$" data-flyout="$CMS_IF(#nav.level==0 && #nav.hasSubFolders)$#flyout-$CMS_VALUE(#nav.ref.uid)$$CMS_ELSE$dummy$CMS_END_IF$">$CMS_VALUE(#nav.label)$</a>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="selectedHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[<a href="$CMS_REF(#nav.ref)$" data-flyout="$CMS_IF(#nav.level==0 && #nav.hasSubFolders)$#flyout-$CMS_VALUE(#nav.ref.uid)$$CMS_ELSE$dummy$CMS_END_IF$" class="active">$CMS_VALUE(#nav.label)$</a>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="endHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[</li>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
		<CMS_ARRAY_PARAM name="innerEndHTML">
			<CMS_ARRAY_ELEMENT index="0..10"><![CDATA[</ul>]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
	</CMS_FUNCTION>

	<CMS_FUNCTION name="Navigation" resultname="fr_flyouts">
		<CMS_PARAM name="expansionVisibility" value="all"/>
		<CMS_PARAM name="suppressEmptyFolders" value="1" />
		<CMS_PARAM name="wholePathSelected" value="0"/>
		
		<CMS_ARRAY_PARAM name="beginHTML">
			<CMS_ARRAY_ELEMENT index="0"><![CDATA[
				<div class="flyout" id="flyout-$CMS_VALUE(#nav.ref.uid)$">
					<div class="container">
			]]></CMS_ARRAY_ELEMENT>
			<CMS_ARRAY_ELEMENT index="1"><![CDATA[
						$CMS_SET(set_mainFolder, #nav.ref.parentFolder.parentFolder)$
						$CMS_SET(set_catFolder, #nav.ref.parentFolder)$
						$--CMS_SET(set_image, #nav.ref.parentFolder.metaFormData.md_megamenuPicture)--$
						$CMS_SET(set_image, #nav.media)$
						
						$CMS_IF(set_mainFolder.name == "products")$
							$CMS_IF(#nav.isFirst)$
							<article class="col-md-9 col-sm-9 flex" style="height: 400px">
							$CMS_END_IF$
								<section class="col-md-3 col-sm-4 flex-box$CMS_IF(set_catFolder.name == "thinlayermodule" || set_catFolder.name == "cristallinemodules")$ break$CMS_END_IF$">
									$CMS_IF(!set_image.empty)$
									<a href="$CMS_REF(#nav.ref)$"$CMS_IF(!set_image.empty)$ class="pic"$CMS_END_IF$>
										$CMS_IF(!set_image.empty)$
											$CMS_RENDER(template:"picture", image: set_image, phone:"110x73", cls:"media-object")$
										$CMS_END_IF$
										<h3>$CMS_VALUE(#nav.label)$</h3>
										
									</a>
									$CMS_ELSE$
									<h3><a href="$CMS_REF(#nav.ref)$">$CMS_VALUE(#nav.label)$</a></h3>
									$CMS_END_IF$
									
									$CMS_SET(set_products, #nav.ref.getContent2Params().getData(#global.language))$
									$CMS_SET(set_product_details, #nav.ref.parent.formData.get(null, "ss_product_details").get())$
									$CMS_IF(!set_products.empty)$
									$CMS_FOR(for_st_product,set_products)$
										<a href="$CMS_REF(set_product_details,contentId:for_st_product.fs_id)$">
											<i class="icon-angle-right"></i>$CMS_VALUE(for_st_product.name)$
										</a>
									$CMS_END_FOR$
									$CMS_END_IF$
						$CMS_ELSE$
						<article class="col-md-4 col-sm-4">
							<h4><a href="$CMS_REF(#nav.ref)$">$CMS_VALUE(#nav.label)$</a></h4>
							<div class="media">
								<section class="col-md-5 col-sm-5" style="padding:0px 10px 0px 0px">
								$CMS_IF(!set_image.isEmpty)$
									<a href="$CMS_REF(#nav.ref)$" class="pull-left">
										$CMS_RENDER(template:"picture", image: set_image, phone:"110x73", cls:"media-object")$
									</a>
								</section>	
									$-- Kommentar des PageRefFolders ermitteln, der als Beschreibung neben dem Bild dargestellt wird --$
								<section class="col-md-7 col-sm-7 flex-box" style="padding:0px 10px 0px 0px">
									$CMS_IF(!#nav.hasSubFolders)$
										$CMS_SET(lang, #global.language)$
										$CMS_SET(set_comment, #nav.ref.parentFolder.folderLangSpec(lang).comment)$
										<div class="media-body"><a href="$CMS_REF(#nav.ref)$">$CMS_VALUE(set_comment)$</a></div>										
									$CMS_END_IF$
									
								$CMS_END_IF$
								<div class="visible-sm clearfix"></div>
								<div class="media-body">
						$CMS_END_IF$
			]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>

		<CMS_ARRAY_PARAM name="selectedHTML">
			<CMS_ARRAY_ELEMENT index="2"><![CDATA[
				<a href="$CMS_REF(#nav.ref)$"><i class="icon-angle-right"></i>$CMS_VALUE(#nav.label)$</a>
				]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>

		<CMS_ARRAY_PARAM name="unselectedHTML">
			<CMS_ARRAY_ELEMENT index="2"><![CDATA[
				<a href="$CMS_REF(#nav.ref)$"><i class="icon-angle-right"></i>$CMS_VALUE(#nav.label)$</a>
				]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>

		<CMS_ARRAY_PARAM name="endHTML">
			<CMS_ARRAY_ELEMENT index="0"><![CDATA[
					</div>
				</div>
			]]></CMS_ARRAY_ELEMENT>
			<CMS_ARRAY_ELEMENT index="1"><![CDATA[
						$CMS_SET(set_mainFolder, #nav.ref.parentFolder.parentFolder)$
						$CMS_SET(set_catFolder, #nav.ref.parentFolder)$
						
						$CMS_IF(set_mainFolder.name == "products")$
							</section>
							$CMS_IF(#nav.isLast)$
								</article>
								$-- Ouput product suggestion if set --$
								$CMS_IF(ps_productSuggestion.dataset.entity.fs_id)$
									<article class="col-md-3 col-sm-3 box">
										<a href="$CMS_REF(ss_product_details,contentId:ps_productSuggestion.dataset.entity.fs_id)$">
											<h4>Empfehlung</h4>
											$CMS_RENDER(template:"picture",image:ps_productSuggestion.dataset.entity.picture,phone:"110x73",cls:"media-object")$
											<h3>$CMS_VALUE(ps_productSuggestion.dataset.entity.name)$</h3>
											$CMS_VALUE(ps_productSuggestion.dataset.entity.teaser)$
										</a>
									</article>
									$CMS_REF(ps_productSuggestion)$
								$CMS_END_IF$
							$CMS_END_IF$
						$CMS_ELSE$
								</div>
							</div>
						</article>
						$CMS_END_IF$
			]]></CMS_ARRAY_ELEMENT>
		</CMS_ARRAY_PARAM>
	</CMS_FUNCTION>

</CMS_HEADER>$CMS_FOR(url, loadJSHeader)$<script src="$CMS_REF(media:url)$"></script>$CMS_END_FOR$$CMS_FOR(url, loadExternalJSHeader)$<script src="$CMS_VALUE(url)$"></script>$CMS_END_FOR$$CMS_SET(pt_navigationCount,0)$<header id="header" class="header header-$CMS_VALUE(if(ps_invertHeader == true, "invert", "default"))$ logo-$CMS_VALUE(if(ps_logoLeft == true, "left", "right"))$$CMS_IF(ps_hasSearch == true)$ has-searchbox$CMS_END_IF$" role="banner">
	<nav id="meta">
		<div class="container">
			<ul>
				$CMS_IF(ps_hasLogin)$
					<li id="login">
						<a href="#mobile-login" class="visible-xs expand-item">$CMS_VALUE(dict.get("login.menu.label"))$</a>
						<a href="#login" onclick="if (location.hash == this.getAttribute('href')) { location.hash=''; return false; }" class="hidden-xs">Login</a>
						<form action="#$-- TODO: Login --$" method="post" class="hidden-xs">
							<div class="form-group">
								<label for="login-email">$CMS_VALUE(dict.get("login.email.label"))$</label>
								<input type="email" class="form-control" id="login-email">
							</div>
							<div class="form-group">
								<label for="login-password">$CMS_VALUE(dict.get("login.password.label"))$</label>
								<input type="password" class="form-control" id="password">
							</div>
							<button type="submit" class="btn btn-primary pull-right">
								<i class="icon-angle-right"></i> $CMS_VALUE(dict.get("login.button.label"))$
							</button>
							<a href="$-- TODO: Login --$">$CMS_VALUE(dict.get("login.forgot.link"))$</a>
						</form>
					</li>
					$-- TODO: Logout
					<li id="logout">
						<a href="" class="logout-link">$CMS_VALUE(dict.get("logout.menu.label"))$</a>
					</li id="user">
					<li class="hidden-xs">
						<a href="" class="user-link">USERNAME</a>
					</li>
					--$
				$CMS_END_IF$
				$CMS_FOR(for_link, #global.gca("gca_headerlinks").formData.st_links)$
					<li class="hidden-xs">
						<a href="$CMS_REF(for_link.lt_reference)$">$CMS_VALUE(for_link.lt_text)$</a>
					</li>
				$CMS_END_FOR$
				$CMS_IF(ps_showLanguageSwitch)$
				<li class="dropout" tabindex="-1">
					<span>$CMS_VALUE(#global.language.name)$ <i class="icon-angle-down"></i></span>
					<ul>
						$CMS_FOR(for_lang, #global.project.languages.filter(x->x!=#global.language && x.shouldGenerate && #global.page.isTranslated(x)))$
							<li><a href="$CMS_REF(#global.ref,lang:for_lang)$">$CMS_VALUE(for_lang.name)$</a></li>
						$CMS_END_FOR$
					</ul>
				</li>
				$CMS_END_IF$
				
				$CMS_IF(ps_hasSearch)$
					<li class="visible-xs" id="search">
						<a href="#mobile-search" class="expand-item"><i class="icon-search"></i></a>
					</li>
				$CMS_END_IF$
			</ul>
		</div>
		<div class="clearfix"></div>
	</nav>

	$CMS_IF(ps_hasSearch)$
		<form action="#" method="post" class="expandable" id="mobile-search">
			<div class="container">
				<div class="form-group">
					<label for="mobile-q">$CMS_VALUE(dict.get("search.mobile.label"))$</label>
					<input type="search" class="form-control" name="q" id="mobile-q">
				</div>
				<button type="submit" class="btn btn-primary pull-right">
					<i class="icon-angle-right"></i> $CMS_VALUE(dict.get("search.mobile.button.label"))$
				</button>
				<div class="clearfix"></div>
			</div>
		</form>		
	$CMS_END_IF$
	
	$CMS_IF(ps_hasLogin)$
		<form action="#$-- TODO: Login --$" method="post" class="expandable" id="mobile-login">
			<div class="container">
				<div class="form-group">
					<label for="login-email">$CMS_VALUE(dict.get("login.email.label"))$</label>
					<input type="email" class="form-control" id="login-email">
				</div>
				<div class="form-group">
					<label for="login-password">$CMS_VALUE(dict.get("login.password.label"))$</label>
					<input type="password" class="form-control" id="password">
				</div>
				<button type="submit" class="btn btn-primary pull-right">
					<i class="icon-angle-right"></i> $CMS_VALUE(dict.get("login.button.label"))$
				</button>
				<a href="$-- TODO: Login --$">$CMS_VALUE(dict.get("login.forgot.link"))$</a>
				<div class="clearfix"></div>
			</div>
		</form>
	$CMS_END_IF$

	<div class="container logo">
		<button class="main-nav-toggle expand-item" type="button" data-target="#main">
			<i class="icon-reorder"></i>
		</button>

		<a href="$CMS_REF(ps_homepage)$" id="logo" class="col-md-4 col-sm-4">
			$CMS_IF(!ps_logo.empty && ps_logoShow == true)$
	        	<img src="$CMS_REF(ps_logo)$" alt="$CMS_VALUE(ps_brandName)$" />
	      	$CMS_ELSIF(!ps_logoTextHeader.empty)$
	        	$CMS_VALUE(ps_logoTextHeader)$
	      	$CMS_END_IF$
      	</a>
	</div>

	$CMS_IF(ps_hasSearch)$
		$CMS_SET(#global.urlCreator.urlPrefix,"http://corp.fsdemo.e-spirit.de/")$
		<div class="container hidden-xs">
			<form action="$CMS_REF(ps_searchResults)$" method="get" accept-charset="UTF-8" class="searchbox hidden-xs col-md-4 col-sm-4">
				<div class="input-group">
 					<input type="search" name="query" value="" class="form-control" data-search-results="$CMS_REF(ps_searchResults,abs:1)$" data-flyout="#flyout-search">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="icon-search"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
	$CMS_END_IF$

	<nav id="main" tabindex="-1" class="expandable">
		<ul>
			$CMS_VALUE(fr_mainnav)$
		</ul>
	</nav>
</header>

<div class="flyouts hidden-xs">
	$CMS_VALUE(fr_flyouts)$
	$-- TODO: product flyout --$
</div>