<CMS_HEADER>
</CMS_HEADER>$-- begin uxbridge --$$CMS_SET(set_pt_jsAfterBody,"")$$CMS_SET(set_pt_insertIntoHead,"")$$-- end uxbridge --$$CMS_RENDER(template:"page_head")$
$CMS_IF(#global.preview)$
<div $CMS_VALUE(editorId(reloadPreview:true))$ id="we_page_head">
$CMS_RENDER(template:"responsive_iconpanel",responsive_iconpanel:false,node:#global.page)$
$CMS_END_IF$
	$CMS_RENDER(template:"header")$
	
	$CMS_IF(pt_pictureList.size > 0)$	
		<div id="stage" class="default facts" data-slide="$CMS_VALUE(pt_sliderFirstSlide)$" data-autoplay="$CMS_VALUE(pt_sliderAutoplay)$s" data-transition-duration="$CMS_VALUE(pt_sliderDuration)$" data-transition-timing-function="ease">
			<div class="view">
				<div class="inner">
					$CMS_FOR(for_picture, pt_pictureList)$
						<div class="slide">
							<div>
								<figure$CMS_VALUE(editorId(target:for_picture, editorName:"st_image", resolution:"1280x600"))$>
									$CMS_RENDER(template:"picture", image:for_picture.st_image, phone:"570x267", tablet:"1280x600")$
								</figure>
							</div>
						</div>
					$CMS_END_FOR$
				</div>
				<div class="container">
					<article class="fact">
						<hgroup$CMS_VALUE(editorId(editorName:"pt_headline"))$>
							$CMS_VALUE(pt_headline)$
						</hgroup>
						$CMS_IF(!pt_link.isEmpty)$
							$CMS_VALUE(pt_link)$
						$CMS_END_IF$
					</article>
				</div>
				<ul class="indicator"></ul>
				<button type="button" data-control="prev">
					<i class="icon-chevron-left"></i>
				</button>
				<button type="button" data-control="next">
					<i class="icon-chevron-right"></i>
				</button>
			</div>

			<div class="container">
				<div class="facts"$CMS_VALUE(editorId(editorName:"pt_facts"))$>
					$CMS_VALUE(pt_facts, default:"")$
				</div>
			</div>

		</div>
	$CMS_END_IF$
$CMS_IF(#global.preview)$
</div>
$CMS_END_IF$	
$CMS_IF(#global.preview)$
		<div class="container" id="we_content_top" style="padding: 25px 0 0; margin-top: 2px;">
	$CMS_END_IF$

	<div class="container">
		$CMS_IF(!pt_topLink.isEmpty)$
			<a href="$CMS_REF(pt_topLink.lt_reference)$" class="block"><i class="icon-chevron-left"></i>$CMS_VALUE(pt_topLink.lt_text)$</a>
		$CMS_END_IF$

		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12 nested"$CMS_VALUE(editorId(element:#global.page.body("content_left")))$>
				$-- BODY content_left --$
				$CMS_RENDER(template:"responsive_body", body:"content_left", nested:true, set_colSm:8, set_colMd:9)$
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 nested"$CMS_VALUE(editorId(element:#global.page.body("content_right")))$>
				$-- BODY content_right --$
				$CMS_RENDER(template:"responsive_body", body:"content_right", nested:true, set_colSm:4, set_colMd:3)$			
			</div>
		</div>
	</div>
	

	$CMS_IF(#global.preview)$
		</div>
	$CMS_END_IF$
$CMS_RENDER(template:"page_foot")$