$CMS_IF(!gallerycat.isEmpty)$

$CMS_SET(_formData,gallerycat.dataset.formData)$
$CMS_SET(set_galleryEntity, gallerycat.dataset.entity)$
$CMS_SET(set_galleryName)$$CMS_IF(_formData.tt_name.isEmpty)$&nbsp;$CMS_ELSE$$CMS_VALUE(_formData.tt_name.convert2)$$CMS_END_IF$$CMS_END_SET$

$CMS_IF(#global.preview)$
<div$CMS_VALUE(editorId())$>
&nbsp;
<div$CMS_VALUE(editorId(entity:set_galleryEntity, view:"galleries", template:"mithras.galleries"))$style="overflow: hidden;">
$CMS_END_IF$

	<h1$CMS_VALUE(editorId(entity:set_galleryEntity, view:"galleries", template:"mithras.galleries", editorName:"tt_name"))$>$CMS_VALUE(set_galleryName)$</h1>
$--$CMS_IF(!set_galleryEntity.isEmpty)$--$
		$CMS_FOR(for_picture, set_galleryEntity.gallery_MediaList.sort(x -> x.order_index))$
			<article class="col-xs-12 col-sm-4 col-md-3"$CMS_VALUE(editorId(entity:for_picture, view:"gallery_media", template:"mithras.gallery_media"))$>
				<div class="teaser gray" $CMS_IF(for_picture.name.isEmpty)$style="background-color: transparent"$CMS_END_IF$>
			$CMS_IF(!for_picture.reference.isEmpty)$
					<figure$CMS_VALUE(editorId(editorName:"tt_picture",resolution:"220x146",entity:for_picture, view:"gallery_media", template:"mithras.gallery_media"))$>
						$CMS_RENDER(template:"picture",image:for_picture.reference,phone:"300x200",tablet:"220x146")$
					</figure>
			$CMS_END_IF$
					$CMS_SET(set_pictureName)$$CMS_IF(for_picture.name.isEmpty)$&nbsp;$CMS_ELSE$$CMS_VALUE(for_picture.name.convert2)$$CMS_END_IF$$CMS_END_SET$
					<h4$CMS_VALUE(editorId(entity:for_picture, view:"gallery_media", template:"mithras.gallery_media", editorName:"tt_name"))$>$CMS_VALUE(set_pictureName)$</h4>
				</div>
			</article>
		$CMS_END_FOR$
		
		$CMS_IF(#global.preview)$
			<article class="col-xs-12 col-sm-4 col-md-3"$CMS_VALUE(editorId(entity:set_galleryEntity, view:"galleries", template:"mithras.galleries", editorName:"tt_picturelist", reloadPreview:true))$>
				<div class="teaser dropImageContainer">
					<h1><i class="icon-download-alt"></i><h1>
					<h4>Drop Image Here</h4>
				</div>
			</article>
		</div>
		</div>
		$CMS_END_IF$
	
$--$CMS_END_IF$--$
$CMS_END_IF$