<CMS_HEADER>
</CMS_HEADER>
<div class="row">
	<article class="accordion nontabs"$CMS_VALUE(editorId(reloadPreview:true))$>
		$CMS_IF(#global.preview)$
			<div style="padding-top: 30px">
		$CMS_END_IF$
		$CMS_VALUE(st_accordion)$
		$CMS_IF(#global.preview)$
			</div>
		$CMS_END_IF$
	</article>
</div>
