<CMS_HEADER>
</CMS_HEADER>


$CMS_IF(#global.pageParams.data.length != 0)$
	$CMS_SET(set_node,#global.pageParams.data[0])$
	<div class="list clearfix"$CMS_VALUE(editorId(target:set_node.productoffers))$>
		$CMS_IF(!st_title.empty)$
			<h3$CMS_VALUE(editorId(editorName:"st_title"))$>$CMS_VALUE(st_title)$</h3>
		$CMS_END_IF$
		
		<div class="gray two headlines">
		$CMS_SET(set_count, 1)$
		$CMS_IF(set_node.productoffers != null)$
			$CMS_FOR(for_st_offer,set_node.productoffers)$
				<article class="col-xs-12 col-sm-4 col-md-3">
					<div class="teaser" data-target-url="$CMS_REF(for_st_offer.tt_categories.first.tt_detailLink.pageRef,contentId:for_st_offer.fs_id)$">
						<figure>
							$CMS_RENDER(template:"picture",image:for_st_offer.tt_pictures.first.st_image,phone:"300x200",tablet:"220x146")$
						</figure>
						
						<h4>$CMS_VALUE(for_st_offer.tt_name)$</h4>
					</div>
				</article>
				
				$CMS_IF(set_count % 3 == 0)$
				<div class="clearfix visible-sm"></div>
				$CMS_END_IF$
		
				$CMS_IF(set_count % 4 == 0)$
				<div class="clearfix visible-md"></div>
				$CMS_END_IF$
				
				$CMS_SET(set_count, set_count + 1)$
			$CMS_END_FOR$	
		$CMS_END_IF$
	
		</div>
	</div>
$CMS_END_IF$
