<CMS_HEADER>
</CMS_HEADER>

<figure$CMS_VALUE(editorId())$>
	$CMS_IF(st_lightbox == true)$
	<a href="#section-$CMS_VALUE(#global.section.id)$" class="overlay">
	$CMS_END_IF$
	
	$CMS_RENDER(template:"picture",we:"st_image", image:st_image,phone:"300x200",tablet:"460x306",desktop:"700x467")$
	
	$CMS_IF(st_lightbox == true)$
	</a>
	$CMS_END_IF$
	
	$CMS_IF(!st_caption.empty)$
	<figcaption>$CMS_VALUE(st_caption)$</figcaption>
	$CMS_END_IF$
</figure>
$CMS_IF(st_lightbox == true)$
<div id="section-$CMS_VALUE(#global.section.id)$" class="overlay-content">
	<span class="remove"><i class="icon-remove"></i></span>
	<figure>
		$CMS_RENDER(template:"picture",we:"st_image",image:st_image,phone:"300x200",tablet:"700x467",desktop:"900x600")$
	</figure>
</div>
$CMS_END_IF$
