<CMS_HEADER>
	<CMS_FUNCTION name="contentSelect" resultname="fr_dictionary">
		<CMS_PARAM name="schema" value="mithras" />
		<QUERY entityType="Dictionary"></QUERY>
	</CMS_FUNCTION>
</CMS_HEADER>
$-- CSS loaded in HTML header --$
$CMS_SET(loadCSS,[])$
$-- JS loaded before body end --$
$CMS_SET(loadJS,[])$
$-- JS loaded in HTML header --$
$CMS_SET(loadJSHeader,[])$
$-- JS loaded before body end from external source --$
$CMS_SET(loadExternalJS,[])$
$-- JS loaded in HTML header from external source --$
$CMS_SET(loadExternalJSHeader,[])$

$CMS_SET(void,loadJSHeader.add("jquery"))$
$CMS_SET(void, loadJS.add("picturefillmin"))$
$CMS_SET(void,loadJS.add("bootstrap"))$
$CMS_SET(void,loadJS.add("jquerytransit"))$
$CMS_SET(void,loadJS.add("jquery.custombox"))$
$CMS_SET(void,loadJS.add("mithras"))$
$CMS_SET(void,loadJS.add("jquery.menu_aim"))$

$CMS_IF(#global.is("WEBEDIT"))$
	$CMS_SET(void,loadJS.add("cc_addons"))$
$CMS_END_IF$

$CMS_IF(#global.preview)$
	$CMS_SET(void,loadJS.add("cc_preview_addons"))$
$CMS_END_IF$

$CMS_SET(void,loadCSS.add(ps_mainCss))$

$CMS_SET(dict,{"":""})$
$CMS_FOR(entity,fr_dictionary)$
	$CMS_SET(void,dict.put(entity.key,entity.translation))$
$CMS_END_FOR$
