$CMS_SET(set_nested, isSet(nested) && nested == true)$
$CMS_SET(set_hiddenMobile,null)$

$CMS_SET(set_hiddenTablet,null)$
$CMS_SET(set_hiddenDesktop,null)$
$CMS_SET(set_newRowDesktop,null)$
$CMS_SET(set_newRowTablet,null)$

<!-- INDEX -->
$CMS_IF(!set_nested)$
	<div class="container"$CMS_VALUE(editorId(element:#global.page.body(body), reloadElement:"we_content_top"))$>   

    $CMS_SET(set_desktopRowCounter, 0)$
    $CMS_SET(set_tabletRowCounter, 0)$
    $CMS_SET(set_rows, {"desktop": {0:0}, "tablet":{0:0}})$

    $CMS_FOR(for_section, #global.page.body(body).getChildren())$
    	$CMS_SET(set_isResponsive, for_section.formData.form.findEditor("st_newRowDesktop") != null)$
		$CMS_IF(for_section.formData.st_hiddenDesktop != true)$
			$CMS_IF(for_section.formData.st_newRowDesktop == true || !set_isResponsive)$
				$CMS_SET(set_desktopRowCounter, set_desktopRowCounter + 1)$
			    $CMS_SET(set_rows["desktop"][set_desktopRowCounter], if(set_isResponsive, 1, 0))$
			$CMS_ELSE$
			    $CMS_SET(set_rows["desktop"][set_desktopRowCounter], set_rows["desktop"][set_desktopRowCounter] + 1)$
			$CMS_END_IF$
		$CMS_END_IF$
		$CMS_IF(for_section.formData.st_hiddenTablet != true)$
			$CMS_IF(for_section.formData.st_newRowTablet == true || !set_isResponsive)$
				$CMS_SET(set_tabletRowCounter, set_tabletRowCounter + 1)$
			    $CMS_SET(set_rows["tablet"][set_tabletRowCounter], if(set_isResponsive, 1, 0))$
			$CMS_ELSE$
			    $CMS_SET(set_rows["tablet"][set_tabletRowCounter], set_rows["tablet"][set_tabletRowCounter] + 1)$
			$CMS_END_IF$
		$CMS_END_IF$
	$CMS_END_FOR$
$CMS_END_IF$

	<div class="row">
	    $CMS_SET(set_desktopRowCounter, 0)$
	    $CMS_SET(set_tabletRowCounter, 0)$
	    $CMS_FOR(for_section, #global.page.body(body).getChildren())$
	    	$CMS_SET(set_sectionTemplateReferenceName, for_section.getTemplate().getReferenceName().toLowerCase())$
	    	$CMS_IF(
	    		set_sectionTemplateReferenceName != null
	    		&& !set_sectionTemplateReferenceName.equals("template:formularstart")
	    		&& !set_sectionTemplateReferenceName.equals("template:formularblock")
	    		&& !set_sectionTemplateReferenceName.equals("template:formularende"))$
	    		
		    	$CMS_SET(set_isResponsive, for_section.formData.form.findEditor("st_newRowDesktop") != null)$
		    
		    	$CMS_IF(
		    		!set_nested
		    		&& for_section.formData.st_newRowTablet == true
		    		&& for_section.formData.st_hiddenTablet != true
		    		&& for_section.formData.st_newRowDesktop != true)$
		    		
		    		$CMS_SET(set_tabletRowCounter, set_tabletRowCounter + 1)$
		    		<div class="clearfix visible-sm"></div>
		    	$CMS_END_IF$
		    
		    	$CMS_IF(for_section.formData.st_newRowDesktop == true || !set_isResponsive || set_nested)$
		    		$CMS_SET(set_desktopRowCounter, set_desktopRowCounter + 1)$
		    		
		    		$CMS_IF(for_section.formData.st_hiddenTablet != true)$
		    			$CMS_SET(set_tabletRowCounter, set_tabletRowCounter + 1)$
					$CMS_END_IF$
					
		    		$CMS_IF(!#for.isFirst)$
		    			</div>
			    		<div class="row">
			    	$CMS_END_IF$
		    	$CMS_END_IF$
	
				$-- enable overlay for text/picture sections - used for persona simulation --$
				$CMS_IF(for_section.getTemplate().getUid().equals("title_text_picture"))$
		    		$CMS_SET(set_isResponsive, true)$
		    	$CMS_END_IF$
		    	
				$CMS_IF(set_isResponsive)$
					$CMS_IF(!set_nested)$
$--
						TabletRowCounter: $CMS_VALUE(set_tabletRowCounter)$ | $CMS_VALUE(set_rows["tablet"][set_tabletRowCounter])$ | $CMS_VALUE(set_rows)$
--$						
						$-- REVIEW GBO next to lines might cause a divide by zero exception, added inline if --$
						$CMS_SET(set_colMd, if(set_rows["desktop"][set_desktopRowCounter] > 0,12 / set_rows["desktop"][set_desktopRowCounter],12))$
						$CMS_SET(set_colSm, if(set_rows["tablet"][set_tabletRowCounter] > 0, 12 / set_rows["tablet"][set_tabletRowCounter],12))$
						$CMS_SET(set_clsMd, if(for_section.formData.st_hiddenDesktop == true, "hidden-md", "col-md-" + set_colMd))$
						$CMS_SET(set_clsSm, if(for_section.formData.st_hiddenTablet == true, "hidden-sm", "col-sm-" + set_colSm))$
						$CMS_SET(set_clsXs, if(for_section.formData.st_hiddenPhone == true, "hidden-xs", "col-xs-12"))$
					$CMS_END_IF$
					
					$CMS_SET(set_phoneCalculated, "300x200")$
					$CMS_SET(set_tabletCalculated, if(set_colSm == 4 || set_colSm == 12, "220x146", if(set_colSm == 6, "340x226", null)))$
					$CMS_SET(set_desktopCalculated, if(set_colMd == 3, "220x146", if(set_colMd == 6, "460x306", if(set_tabletCalculated == null, null, set_phoneCalculated))))$
					
					$-- Iconpanel settings --$

										
					<article $CMS_VALUE(editorId(element:for_section, reloadElement:"we_" + body))$ class="$CMS_VALUE(if(set_nested, "col-xs-12 col-sm-12 col-md-12",set_clsXs + " " + set_clsSm + " " + set_clsMd))$">
			    		$-- Icons --$
						$CMS_RENDER(template:"responsive_iconpanel",responsive_iconpanel:set_isResponsive,node:for_section)$
			    		$CMS_VALUE(for_section)$
			    	</article>
			    $CMS_ELSE$
			    	$CMS_VALUE(for_section)$
			    $CMS_END_IF$
			$CMS_ELSE$
		    	$CMS_VALUE(for_section)$
		    $CMS_END_IF$
	    $CMS_END_FOR$
	</div>


	$-- Button soll auf Detailseiten nicht angezeigt werden --$
    $CMS_IF(#global.is("WEBEDIT") && #global.node.content2Params == null)$
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="pull-left" style="margin: 40px 10px 0"$CMS_VALUE(fsbutton(
					editorName:"pt_createSection",
					parameter:{
						"page":#global.page.id,
						"body":body
						}
					)
				)$></div>
				<div class="clearfix"></div>
			</div>
		</div>
    $CMS_END_IF$
    
$CMS_IF(!set_nested)$
	</div>
$CMS_END_IF$