$-- begin uxbridge --$
$CMS_SET(set_pt_jsAfterBody,"")$$CMS_SET(set_pt_insertIntoHead,"")$
$-- end uxbridge --$
$CMS_SET(set_body_content_top)$$CMS_RENDER(template:"responsive_body", body:"content_top")$$CMS_END_SET$$CMS_SET(set_body_content_top,set_body_content_top.toString())$
$CMS_SET(set_body_content_bottom)$$CMS_RENDER(template:"responsive_body", body:"content_bottom")$$CMS_END_SET$$CMS_SET(set_body_content_bottom,set_body_content_bottom.toString())$
$CMS_RENDER(template:"page_head")$
$CMS_IF(#global.preview)$
<div $CMS_VALUE(editorId(reloadPreview:true))$ id="we_page_head">
$CMS_RENDER(template:"responsive_iconpanel",responsive_iconpanel:false,node:#global.page)$
$CMS_END_IF$
	$CMS_RENDER(template:"header")$

	$CMS_SWITCH(pt_headerType)$
		$CMS_CASE("category")$
			<div id="stage" class="headline">
				<div class="container">
					<h2>$CMS_VALUE(#global.node.parentFolder.label)$</h2>
				</div>
			</div>
		$CMS_CASE("image")$
			<div id="stage" class="image">
				<div class="view">
					<div class="inner">
						<div class="slide">
							<article>
								$CMS_IF(!pt_headerImage.empty)$
								<figure$CMS_VALUE(editorId(editorName:"pt_headerImage", resolution:"1280x265"))$>
									$CMS_RENDER(template:"picture",image:pt_headerImage, phone:"570x118", tablet:"1280x265")$
									$CMS_IF(#global.preview)$
										<div style="position: absolute; top: 1px; left: 0; bottom: 10px; right: 0;"$CMS_VALUE(editorId(editorName:"pt_headerImage"))$></div>
									$CMS_END_IF$
								</figure>
								$CMS_END_IF$
								<section>
									<div$CMS_VALUE(editorId(editorName:"pt_headerText"))$>
										$CMS_VALUE(pt_headerText)$
									</div>
								</section>
							</article>
						</div>
					</div>
				</div>
			</div>
	$CMS_END_SWITCH$

	$CMS_RENDER(template:"breadcrumb")$
$CMS_IF(#global.preview)$
</div>
$CMS_END_IF$
	$-- BODY content_top --$
	$CMS_IF(#global.preview)$
		<div class="container" id="we_content_top" style="padding: 25px 0 0; margin-top: 2px;">
	$CMS_END_IF$
	$CMS_VALUE(set_body_content_top)$
	$CMS_IF(#global.preview)$
		</div>
	$CMS_END_IF$

	$-- BODY content_bottom --$
	$CMS_IF(!#global.page.body("content_bottom").getChildren().toList().isEmpty)$
		<div class="shadow-top" id="we_content_bottom">
			$CMS_VALUE(set_body_content_bottom)$
		</div>
	$CMS_END_IF$

$CMS_RENDER(template:"page_foot")$