$CMS_SET(void,loadExternalJS.add("http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAbgtGhuolch3wy0xtGhU5KBQn5HErWI4mhbiPGhzhrz1zNVnaSxQXINztavT-kYVCCYWLOeB9NBQAUg"))$
$CMS_SET(void,loadJS.add("googlemapsinit"))$
$CMS_SET(set_markersParameters, [])$
$CMS_IF(!st_locations.isEmpty)$
	$CMS_FOR(for_location, st_locations)$
		$CMS_SET(set_parameters, {})$
		$CMS_SET(void, set_parameters.add("infoText: '<strong>" + for_location.cs_name.convert2 + "</strong>'"))$
		
		$CMS_IF(!for_location.cs_picture.isEmpty)$
			$CMS_SET(set_pictureBase64)$$CMS_RENDER(template:"imagebase64",image:for_location.cs_picture)$$CMS_END_SET$
			$CMS_SET(void, set_parameters.add("infoImageSrc: 'data:image/jpeg;base64," + set_pictureBase64 + "'"))$
		$CMS_END_IF$
		
		$CMS_IF(!for_location.cs_latitude.isEmpty && !for_location.cs_longitude.isEmpty)$
			$CMS_SET(void, set_parameters.add("longitude: " + for_location.cs_longitude))$
			$CMS_SET(void, set_parameters.add("latitude: " + for_location.cs_latitude))$
		$CMS_END_IF$
		
		$CMS_SET(void, set_markersParameters.add(set_parameters.toString().replace("[", "{").replace("]", "}")))$
	$CMS_END_FOR$
$CMS_END_IF$
<div id="sectionSpacer" style="padding-top:30px;"$CMS_VALUE(editorId(reloadPreview:true))$>
	<div id="locationsMapContainer" style="height:500px;"></div>
</div>
<script type="text/javascript">
	function initLocationsMap() {
		if (typeof(initMap) === "function") {
			initMap("locationsMapContainer", $CMS_VALUE(set_markersParameters)$);
		}
	}
	
	if (window.attachEvent) {
		window.attachEvent("onload", initLocationsMap);
	} else if (window.addEventListener) {
		window.addEventListener("load", initLocationsMap, false);
	}
</script>