<h1$CMS_VALUE(editorId())$>$CMS_VALUE(tt_name)$</h1>

$CMS_FOR(for_picture, tt_picturelist)$
<article class="col-xs-12 col-sm-4 col-md-3"$CMS_VALUE(editorId(view:"galleries",template:"mithras.galleries", reloadPreview:true))$>
	<div class="teaser gray">
		$CMS_IF(!for_picture.tt_picture.empty)$
		<figure>
			$CMS_RENDER(template:"picture",image:for_picture.tt_picture,phone:"300x200",tablet:"220x146")$
		</figure>
		$CMS_END_IF$
		<h4>$CMS_VALUE(for_picture.tt_name)$</h4>
	</div>
</article>
$CMS_END_FOR$

$CMS_IF(#global.preview)$
<article class="col-xs-12 col-sm-4 col-md-3"$CMS_VALUE(editorId(editorName:tt_picturelist, reloadPreview:true))$>
	<div class="teaser gray">
		<h4>Drop Image here</h4>
	</div>
</article>
$CMS_END_IF$