$-- begin uxbridge --$
$CMS_SET(set_pt_jsAfterBody,"")$$CMS_SET(set_pt_insertIntoHead,"")$
$-- end uxbridge --$
$CMS_SET(set_body_content_left)$$CMS_RENDER(template:"responsive_body", body:"content_left", nested:true, set_colSm:8, set_colMd:9)$$CMS_END_SET$$CMS_SET(set_body_content_left,set_body_content_left.toString())$
$CMS_SET(set_body_content_right)$$CMS_RENDER(template:"responsive_body", body:"content_right", nested:true, set_colSm:4, set_colMd:3)$$CMS_END_SET$$CMS_SET(set_body_content_right,set_body_content_right.toString())$
$CMS_RENDER(template:"page_head")$
$CMS_IF(#global.preview)$
<div $CMS_VALUE(editorId(reloadPreview:true))$ id="we_page_head">
$CMS_RENDER(template:"responsive_iconpanel",responsive_iconpanel:false,node:#global.page)$
$CMS_END_IF$
	$CMS_RENDER(template:"header")$

	$CMS_SWITCH(pt_headerType)$
		$CMS_CASE("category")$
			<div id="stage" class="headline">
				<div class="container">
					<h2>$CMS_VALUE(#global.node.parentFolder.label)$</h2>
				</div>
			</div>
		$CMS_CASE("image")$
			<div id="stage" class="image">
				<div class="view">
					<div class="inner">
						<div class="slide">
							<article>
								<figure>
									$CMS_RENDER(template:"picture", image:pt_headerImage, phone:"570x118", tablet:"1280x265")$
									$CMS_IF(#global.preview)$
										<div style="position: absolute; top: 1px; left: 0; bottom: 10px; right: 0;"$CMS_VALUE(editorId(editorName:"pt_headerImage"))$></div>
									$CMS_END_IF$
								</figure>
								<section>
									<div$CMS_VALUE(editorId(editorName:"pt_headerText"))$>
										$CMS_VALUE(pt_headerText)$
									</div>
								</section>
							</article>
						</div>
					</div>
				</div>
			</div>
	$CMS_END_SWITCH$

	$CMS_RENDER(template:"breadcrumb")$
$CMS_IF(#global.preview)$
</div>
$CMS_END_IF$

	$CMS_IF(#global.preview)$
		<div class="container" id="we_content_top" style="padding: 25px 0 0; margin-top: 2px;">
	$CMS_END_IF$

	<div class="container">
		$CMS_IF(!pt_topLink.isEmpty)$
			<a href="$CMS_REF(pt_topLink.lt_reference)$" class="block"><i class="icon-chevron-left"></i>$CMS_VALUE(pt_topLink.lt_text)$</a>
		$CMS_END_IF$

		<div class="row">
			<div id="we_content_left" class="col-md-9 col-sm-8 col-xs-12 nested" $CMS_VALUE(editorId(element:#global.page.body("content_left")))$>
				$-- BODY content_left --$
				$CMS_VALUE(set_body_content_left)$
			</div>
			<div id="we_content_right" class="col-md-3 col-sm-4 col-xs-12 nested" $CMS_VALUE(editorId(element:#global.page.body("content_right")))$>
				$-- BODY content_right --$
				$CMS_VALUE(set_body_content_right)$						
			</div>
		</div>
	</div>
	

	$CMS_IF(#global.preview)$
		</div>
	$CMS_END_IF$

	$-- BODY content_right --$

$CMS_RENDER(template:"page_foot")$