<CMS_HEADER>
<CMS_FUNCTION name="contentSelect" resultname="fr_st_newsList">
	<CMS_PARAM name="schema" value="mithras" /> 
	<CMS_VALUE_PARAM  name="bis" value="#global.startTime" />
	<QUERY entityType="News">
		<ORDERCRITERIA attribute="date" descending="1" />
		<FILTERPARAM parameter="bis" datatype="java.util.Date" value="0"/>
		<AND>
			<LTE attribute="date" parameter="bis" />
		</AND>
	</QUERY>
</CMS_FUNCTION>
</CMS_HEADER>

$-- Counter --$ 
$CMS_IF(#global.pageContext["set_teaserCounter"] == null)$
	$CMS_SET(#global.pageContext["set_teaserCounter"], 0)$
$CMS_END_IF$
$CMS_SET(#global.pageContext["set_teaserCounter"], #global.pageContext["set_teaserCounter"] + 1)$
$CMS_SET(teaserCounter, #global.pageContext["set_teaserCounter"])$

$CMS_SET(set_st_insertIntoHead)$

$CMS_END_SET$
$CMS_SET(set_st_jsAfterBody)$

$CMS_END_SET$



$CMS_IF(!st_entries.isEmpty)$
	$CMS_SET(sublist, fr_st_newsList.subList(0,st_entries))$
$CMS_ELSE$
	$CMS_SET(sublist, fr_st_newsList.subList(0,4))$
$CMS_END_IF$

$CMS_SET(ps_showCorporateContentIcon, false)$

$CMS_SET(set_st_jsAfterBody)$
<script>
(function($, undefined){
	function updateView$CMS_VALUE(teaserCounter)$ () {
		var shouldCount = isTablet() ? Math.min(3, $CMS_VALUE(st_entries)$) : $CMS_VALUE(st_entries)$;
		var isCount = $("div#newsList$CMS_VALUE(teaserCounter)$ ul li").length;

		if (isCount > shouldCount) {
			var hideCount = isCount - shouldCount;
			$('div#newsList$CMS_VALUE(teaserCounter)$ ul li').slice(-hideCount).hide();
		} else {
			$('div#newsList$CMS_VALUE(teaserCounter)$ ul li:hidden').show();
		}
	}
	updateView$CMS_VALUE(teaserCounter)$();
	var resizeTimer$CMS_VALUE(teaserCounter)$;
	$(window).resize(function () {
		clearTimeout(resizeTimer$CMS_VALUE(teaserCounter)$);
		resizeTimer$CMS_VALUE(teaserCounter)$ = setTimeout(updateView$CMS_VALUE(teaserCounter)$, 100);
	});
})(jQuery);
</script>
$CMS_END_SET$

<div class="list"$--CMS_VALUE(editorId())--$ id="newsList$CMS_VALUE(teaserCounter)$">
	$CMS_IF(!st_title.isEmpty)$
		<h3 class="two-headlines"$CMS_VALUE(editorId(editorName:"st_title"))$>$CMS_VALUE(ps_logoTextContent)$<br>$CMS_VALUE(st_title)$</h3>
	$CMS_END_IF$
	
	<ul class="two lines">
	$CMS_FOR(for_st_news, sublist)$
		<li data-target-url="$CMS_REF(ps_newsDetail,contentId:for_st_news.fs_id)$" $CMS_IF(#for.index > 2)$class="hidden-sm"$CMS_END_IF$ $CMS_VALUE(editorId(entity:for_st_news,view:"news"))$>
			$-- Find and render image if set --$
			$CMS_IF(!for_st_news.text.empty)$
				$CMS_SET(set_count, 0)$
				$CMS_FOR(for_st_news_text,for_st_news.text)$
					$CMS_IF(for_st_news_text.template.uid == "picture" && set_count == 0)$
						$CMS_RENDER(template:"picture",image:for_st_news_text.st_image,phone:"47x47")$
						$CMS_SET(set_count, 1)$
					$CMS_END_IF$
				$CMS_END_FOR$
			$CMS_END_IF$
			
			<h4><time datetime="$CMS_VALUE(for_st_news.date.format("yyyy-MM-dd"))$">$CMS_VALUE(for_st_news.date.format(ps_dateFormat))$</time><a href="$CMS_REF(ps_newsDetail,contentId:for_st_news.fs_id)$" class="link">$CMS_VALUE(for_st_news.headline)$</a></h4>
		</li>
	$CMS_END_FOR$
	</ul>
</div>


$CMS_VALUE(#global.pageContext.setVariableValue("set_pt_jsAfterBody", set_pt_jsAfterBody + set_st_jsAfterBody.toString))$
$CMS_VALUE(#global.pageContext.setVariableValue("set_pt_insertIntoHead", set_pt_insertIntoHead + set_st_insertIntoHead.toString))$
