<CMS_HEADER>
    <CMS_FUNCTION name="contentSelect" resultname="personas">
    <CMS_PARAM  name="schema" value="rtt" />
        <QUERY entityType="persona">
        </QUERY>
    </CMS_FUNCTION>
</CMS_HEADER>

$-- get persona values from request/session --$
<c:choose>
    <c:when test="${param.persona != null || param.reset != null}">
        <c:choose>
            <c:when test="${param.persona != null}">
                <c:set var="personaId" value="${param.persona}" scope="session"/>
            </c:when>
            <c:otherwise>
                <c:set var="personaId" value="null" scope="session"/>               
            </c:otherwise>
        </c:choose>
    </c:when>
    <c:otherwise>
        <c:if test="${sessionScope['persona'] != null}">
            <c:set var="personaId" value="${sessionScope['persona']}" scope="session"/>
        </c:if>
    </c:otherwise>
</c:choose>
$-- get segment values from request/session --$
<c:choose>
    <c:when test="${param.segments != null || param.reset != null}">
        <c:choose>
            <c:when test="${param.segments != null}">
                <c:set var="segments" value="${param.segments}" scope="session"/>
            </c:when>
            <c:otherwise>
                <c:set var="segments" value="null" scope="session"/>               
            </c:otherwise>
        </c:choose>
    </c:when>
    <c:otherwise>
        <c:if test="${sessionScope['segments'] != null}">
            <c:set var="segments" value="${sessionScope['segments']}" scope="session"/>
        </c:if>
    </c:otherwise>
</c:choose>

$-- fill persona dropdown with personas --$
    <div id="personaBox" class="personaBox">                
    $CMS_IF(!personas.isEmpty)$
    	$CMS_IF(#global.is("WEBEDIT"))$
    	<iframe src="" height="0" width="0" name="rttTargetFrame" style="display: none;"></iframe>
    	$CMS_END_IF$
        $CMS_FOR(persona, personas)$
        <form name="personaForm$CMS_VALUE(#for.index)$" method="POST" $CMS_IF(#global.is("WEBEDIT"))$action="$CMS_REF(#global.ref)$" target="rttTargetFrame"$CMS_END_IF$>
            <input type="hidden" name="segments" value="$CMS_VALUE(persona.segments.toString(","))$">
            <input type="hidden" name="persona" value="$CMS_VALUE(persona.fs_id)$">
        </form>
        <div class="persona<c:if test="${personaId == '$CMS_VALUE(persona.fs_id)$'}"> active</c:if>" onclick="document.forms['personaForm$CMS_VALUE(#for.index)$'].submit(); $CMS_IF(#global.is("WEBEDIT") && ps_persona_box == true)$setTimeout(function(){document.getElementsByTagName('iframe')[2].contentWindow.location.reload();}, 500);document.getElementById('personaBox').style.display = 'none';$CMS_END_IF$ return false;">
			<div class="personaImage">
				<img class="persona<c:if test="${personaId != '$CMS_VALUE(persona.fs_id)$'}"> small</c:if>" src="$CMS_REF(persona.image, resolution:"persona")$">
			</div>
			<div class="personaDetails">
				<span>$CMS_VALUE(persona.name)$</span>
				<div class="personaSegments">
					$CMS_FOR(label, persona.segments)$
						<div class="personaSegment">$CMS_VALUE(label.getLabel(#global.language))$</div>
					$CMS_END_FOR$
				</div>
			</div>
        </div>
        $CMS_END_FOR$
    $CMS_ELSE$
        <div class="persona">
            <div class="personaDetails empty">
                $CMS_IF(#global.language.abbreviation.equals("DE"))$
                <span>Keine Persona definiert!<br>Bitte legen Sie mindestens eine Persona in der Datenquelle "Persona" an.</span>
                $CMS_ELSE$
                <span>No persona found!<br>Please create at least one persona in the datasource "Persona".</span>                
                $CMS_END_IF$
            </div>      
        </div>
	$CMS_END_IF$
        $-- add buttons --$
		<form name="resetPersonaForm" method="POST" $CMS_IF(#global.is("WEBEDIT"))$action="$CMS_REF(#global.ref)$" target="rttTargetFrame"$CMS_END_IF$>
            <input type="hidden" name="reset" value="true">
        </form>
        <div class="persona" style="width:$--173px--$375px;float:left;border-right:0px solid #E7E8EA;">
		<a class="personaRef" $CMS_IF(#global.is("WEBEDIT"))$target="rttTargetFrame"$CMS_END_IF$ onclick="document.forms['resetPersonaForm'].submit();document.getElementsByTagName('iframe')[2].contentWindow.location.reload(); document.getElementById('personaBox').style.display = 'none'; return false;">
            <div class="personaDefault">Reset to default</div>
        </a>
        </div>
        
        $--<div class="overlayButton" id="overlayButton">
            <div class="personaDefault">Show personalisation</div>
        </div>--$
        <div style="clear:both;display:none"></div>
    </div>