<CMS_HEADER>
</CMS_HEADER>

<div class="col-md-9 col-sm-8 col-xs-12 nested">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<article class="article"$CMS_VALUE(editorId(void,view:"news"))$>
				<section>
					<hgroup>
						<h3><time datetime="$CMS_VALUE(tt_date.format("yyyy-MM-dd HH:mm"))$">$CMS_VALUE(tt_date.format(ps_dateFormat))$</time></h3>
						<h1>$CMS_VALUE(tt_headline)$</h1>
					</hgroup>
					<p>$CMS_VALUE(tt_teaser)$</p>
				</section>
								
				$CMS_VALUE(tt_text)$
			</article>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-4 col-xs-12 nested">
	$CMS_IF(!tt_contact.empty)$
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12">
			<div class="teaser gray"$CMS_VALUE(editorId(entity:tt_contact.value,view:"contact"))$>
				$CMS_IF(!tt_contact.value.picture.empty)$
				<figure>
					$CMS_RENDER(template:"picture",image:tt_contact.value.picture,phone:"300x200",tablet:"220x146")$
				</figure>
				$CMS_END_IF$
	
				<h4><a href="#">$CMS_VALUE(dict.get("news.contact"))$</a></h4>
	
				<p>
					$CMS_VALUE(dict.get("gender." + tt_contact.value.salutation))$ $CMS_VALUE(tt_contact.value.firstname)$ $CMS_VALUE(tt_contact.value.lastname)$<br>
					Tel: $CMS_VALUE(tt_contact.value.phone)$
				</p>
	
				<a href="mailto:$CMS_VALUE(tt_contact.value.mail)$" class="btn btn-primary"><i class="icon-angle-right"></i>E-Mail</a>
			</div>
		</article>
	</div>
	$CMS_END_IF$
	
	$CMS_IF(!tt_downloads.empty)$
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12">
			<div class="teaser gray">
				<h4>$CMS_VALUE(dict.get("news.download"))$</h4>
				<p>
				$CMS_FOR(for_download, tt_downloads)$
					$CMS_VALUE(for_download)$<br />
				$CMS_END_FOR$
				</p>
			</div>
		</article>
	</div>
	$CMS_END_IF$
</div>


