<CMS_HEADER>
</CMS_HEADER>

<li$CMS_IF(!st_target.isEmpty)$ data-target-url="$CMS_REF(st_target)$"$CMS_END_IF$$CMS_VALUE(editorId())$>
	$CMS_RENDER(template:"picture", image:st_image, phone:"47x47", we:"st_image")$
	$CMS_IF(!st_headline.isEmpty)$
		<h4>
			$CMS_IF(!st_target.isEmpty)$
				<a href="$CMS_VALUE(st_target)$">$CMS_VALUE(st_headline)$</a>
			$CMS_ELSE$
				$CMS_VALUE(st_headline)$
			$CMS_END_IF$			
		</h4>
	$CMS_END_IF$
	$CMS_VALUE(st_text)$
</li>